/20 Percent Training Set.csv
/Attack Types.csv
/Field Names.csv
/Field Names.docx
/KDDTest+.csv
/KDDTest+.txt
/KDDTest-21.txt
/KDDTrain+.csv
/KDDTrain+.txt
/KDDTrain+_20Percent.txt
/Original NSL KDD Zip.zip
/ReadMe.txt
/Small Training Set.csv
