/NSL-KDD Preprocessed 2 Class Target - Copy.xlsx
/NSL-KDD Preprocessed 2 Class Target-test set-deleted.csv
/NSL-KDD Preprocessed 2 Class Target-test set.csv
/NSL-KDD Preprocessed 2 Class Target-train set.csv
/NSL-KDD Preprocessed 2 Class Target-trainset-deleted.csv
/NSL-KDD Preprocessed 2 Class Target.xlsx
